<mat-card>
  <mat-card-title>Jobs</mat-card-title>
  <button mat-flat-button color="primary" (click)="addHistory()">Add History</button>
  <form [formGroup]="dynamicJobForm">

    <div *ngFor="let skill of jobFormGroups; let i = index" class="list-group list-group-flush">
      <div class="list-group-item">
        <div [formGroup]="skill" class="form-row">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Role</mat-label>
            <input matInput type="text" formControlName="role">
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Choose Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker" formGroupName="timeRange">
              <input matStartDate formControlName="start" placeholder="Start Date">
              <input matEndDate formControlName="end" placeholder="End Date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Details</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      formControlName="details"
            ></textarea>
          </mat-form-field>
          <button mat-flat-button color="primary"  [disabled]="jobFormGroups[i].invalid"
                  (click)="saveJob(i)">
            {{editedJobId ? 'Update' : 'Save'}}
          </button>
          <button mat-flat-button color="accent"
                  (click)="cleanJob(i)">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="jobs-section">
    <div *ngFor="let job of jobs" class="jobs-list">
      <mat-card-header>
        <mat-card-title>{{job.title}}</mat-card-title>
        <mat-card-subtitle>{{job.role}}</mat-card-subtitle>
      </mat-card-header>
      <div>
        Start: {{job.start | date}}
      </div>
      <div>
        End: {{job.end | date}}
      </div>
      <mat-card-content *ngIf="job.details">
        <p>
          {{job.details}}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="editedJobId !== job._id">
        <button mat-button (click)="editJob(job)">Edit</button>
        <button mat-button (click)="deleteJob(job._id)">Delete</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
