<div class="container" *ngIf="cvList?.length">
  <div class="list-section">
    <mat-selection-list #cvLists [multiple]="false">
      <mat-list-option
        *ngFor="let list of cvList; trackBy: trackByFn"
        (click)="onClickListItem(list._id)"
        [selected]="selectedCvId === list._id"
      >
        {{list.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="detail-section">
    <app-details-page
      [selectedCv]="selectedCv"
      [selectedCvId]="selectedCvId"
      (saveDataEmmit)="saveData()"
    >
    </app-details-page>
  </div>
</div>
